.text-image-slider, .icon-block{
	.icon p {
		font-size: rem-calc(16);
	    @include breakpoint(medium) {
	        font-size: rem-calc(16);
	    }
	}

	h5:before { display: none; }
}

.two-col {
	h4:first-child {
		margin-top: rem-calc(30);
		@include breakpoint(medium) { margin-top: 0; }
	}

	.cell:first-child {
		margin-bottom: rem-calc(20);
		@include breakpoint(medium) { margin-bottom: 0; }
	}
}

.image-block {
	position: relative;
	z-index: 1;
}

.video-block {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 300px;
	@include breakpoint(medium) { height: 400px; }
	@include breakpoint(large) { height: 90vh; max-height: 700px; }

	a {
		@include absolute-center;
		img {
			transition: .2s all ease-in;
		}
		&:hover img, &:focus img {
			transform: scale(1.1);
		}
	}
}

.slider-block {
	position: relative;
	z-index: 1;
	&.primary, &.secondary {
		padding-bottom: 0 !important;
		margin-bottom: rem-calc(40);
		@include breakpoint(medium) { margin-bottom: rem-calc(80); }
		@include breakpoint(large)  { margin-bottom: rem-calc(100); }

		&:after {
			content: '';
			width: 100%;
			height: 50%;
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: #fff;
			z-index: -1;
		}

		.swiper-slide p { color: $secondary-color; }
	}

	.drag {
		@include absolute-center;
		z-index: 999;
		opacity: 1;
		visibility: visible;
		margin: 0;
		transition: all .35s cubic-bezier(.19,1,.22,1);
		width: 70px !important;
		@include breakpoint(medium) {
			width: 150px !important;
		}
	}

	.swiper-slide:hover {
		.drag { opacity: 0; visibility: hidden; }
	}
}

.two-col-layout {
	.half-grid {
	    max-width: calc(35rem - 1.875rem);
	    @include breakpoint(small only) {
			padding: rem-calc(0 15);
		}
	}

	.right {
		margin-left: auto;
	}

	@include breakpoint(small only) { .block-img { margin-bottom: rem-calc(30); padding-right: rem-calc(15); } }
}