footer {
	position: relative;
	z-index: 1;
	background-color: $secondary-color;
	padding-top: rem-calc(30);
	@include breakpoint(medium) { padding-top: rem-calc(40); }
	@include breakpoint(large)  { padding-top: rem-calc(80); }

	h5 {
		color: $primary-color;
		&:before { display: none; }
	}

	ul {
		list-style: none;
		margin: 0;
		@include breakpoint(medium) {
			padding: rem-calc(0 0 0 15);
			border-left: 1px solid rgba(255,255,255,.1);
		}
		li {
			position: relative;
			a {
				padding: 0;
				margin: rem-calc(7 0);
				display: inline-block;
				transition: .6s all ease-in-out;
				text-decoration: none;
				font-size: rem-calc(16);
				color: #fff;
			}
			&:hover, &:focus {
				color: $primary-color;
			}
			&.current_page_item {
				color: $primary-color;
			}
		}
	}

	.weather {
		display: inline-block;
	}

	.social {
		list-style: none;
		border: 0;
		padding: 0;
		margin: rem-calc(0 0 0 30);
		display: inline-flex;
		li {
			margin: rem-calc(0 5);
			a { margin: 0; }
		}
	}

	.accordion {
		.accordion-title {
			padding-left: 0;
			padding-right: 0;
			p {
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				font-weight: 700;
				font-size: rem-calc(16);
			}
			&:after {
				content: '';
				width: 20px;
				height: 20px;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%) rotate(0);
				background: url("data:image/svg+xml,%0A%3Csvg width='16px' height='10px' viewBox='0 0 16 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Mobile' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Mobile-&gt;-Homepage@2x' transform='translate(-340.000000, -10043.000000)' stroke='%232290DF' stroke-width='2'%3E%3Cg id='FOOTER' transform='translate(0.000000, 9992.000000)'%3E%3Cg id='1' transform='translate(20.000000, 50.000000)'%3E%3Cpolyline id='chevron' points='335 2 328.000256 8.99974437 321 2'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
			}
			&.open:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
		&:last-child:not(.is-active) > .accordion-title {
			border-bottom: 1px solid rgba(255,255,255,.1);
		}
	}

	.author {
		@include breakpoint(medium) { text-align: right; }
	}

	.lower-footer {
		background-color: #0D0D0D;
		margin-top: rem-calc(30);
		padding: rem-calc(15 0);
		@include breakpoint(medium) { padding: rem-calc(20 0); margin-top: rem-calc(40); }
		@include breakpoint(large)  { padding: rem-calc(25 0); margin-top: rem-calc(80); }

		p, li, p a {
			color: #fff;
			font-size: rem-calc(15);
		}

		p { @include breakpoint(small only)  {  margin-bottom: rem-calc(10); } }
	}
}