
header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
	transition: all .5s cubic-bezier(.19,1,.22,1);
	border-bottom: 1px solid rgba(255,255,255,.1);

	.main-navigation {
		margin-top: rem-calc(30);
		.menu {
			display: flex;
			justify-content: flex-end;
			> li {
				a:not(.button) {
					outline: none;
					font-weight: 700;
					position: relative;
					color: #fff;
					transition: all .35s cubic-bezier(.19,1,.22,1);
					padding: rem-calc(0 25);
					display: inline-block;
					text-transform: uppercase;
					letter-spacing: 2px;
					text-align: left;
					font-size: rem-calc(16);
					@include breakpoint(medium) {
						font-size: rem-calc(16);
					}

					&:hover, &:focus {
						color: $secondary-color;
					}
				}
				&.is-active a, &.active > a {
					background-color: transparent;
					color: $secondary-color;
				}

			}
			li:first-child a {
				padding-left: 0;
			}
			li:last-child a {
				padding-right: 0;
			}
		}

		.menu-item-has-children {
			position: relative;
			> a:not(.button) {
				position: relative;
				padding-right: rem-calc(40) !important;
				&:before {
					content: '';
					width: 12px;
					height: 12px;
					background: url('../../images/chevron.svg') no-repeat center center;
					background-size: contain;
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			.nested {
				@include horizontal-center;
				top: 100%;
				background-color: $light-gray;
				border-right: 1px solid #ccc;
				border-left: 1px solid #ccc;
				list-style: none;
				margin: 0;
				width: 100%;
				min-width: 160px;
				transition: all 0.3s $ease-in-out-circ;
				opacity: 0;
				visibility: hidden;
				z-index: -9999;
				li {
					a:not(.button) {
						font-size: rem-calc(14);
						margin: 0;
						padding: rem-calc(6 15);
						border-right: 0;
						border-bottom: 1px solid #ccc;
						display: block;
					}
					&.is-active a, &.active > a {
						background-color: transparent;
						color: $secondary-color;
					}
				}
				&.active {
					opacity: 1;
					visibility: visible;
					z-index: 999999999;
				}
			}
		}
	}

	&.portal-header {
		.main-navigation { margin-top: 0; }
	}

	.logo {
		display: inline-block;
		margin-bottom: rem-calc(10);
		@include breakpoint(medium) { margin-bottom: rem-calc(20); }
	}

	.upper-nav {
		@include breakpoint(medium) {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			text-align: right;
		}

		.menu {
			background-color: rgba(255,255,255,.1);
			padding: rem-calc(9 10);
			@include breakpoint(medium) {
				display: inline-flex;
				justify-content: flex-end;
			}
			li a {
				padding: 0;
				margin: rem-calc(0 15);
				font-size: rem-calc(12);
				text-transform: uppercase;
				letter-spacing: 1.5px;
				color: #fff;
				font-weight: 700;
			}
		}

		.phone {
			position: relative;
			padding-left: rem-calc(10) !important;
			&:before {
				content: '';
				width: 14px;
				height: 17px;
			}
		}

		.email {
			position: relative;
			padding-left: rem-calc(17) !important;
			&:before {
				content: '';
				width: 18px;
				height: 14px;
			}
		}
	}

	.fixed-nav {
		border-top: 1px solid rgba(255,255,255,.1);
		transition: .25s all ease-in-out;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		position: fixed;
		top: -30px;
		z-index: -1;
		li a {
			margin: rem-calc(0 15);
			padding: rem-calc(15 0);
			font-size: rem-calc(18);
			color: #fff;
			transition: .25s all ease-in-out;
		}

		li:first-child a {
			margin-left: 0;
			margin-right: 0;
			font-size: 0;
			width: 36px;
			height: 48px;
			background: url('../../images/home.svg') no-repeat center center;
			background-size: contain;
		}

		li:last-child  a { margin-right: 0; }

		&.fixed {
		    top: 0;
		    left: 0;
		    z-index: 10;
		    border: 0;
		    opacity: 1;
		    visibility: visible;
			background: rgba(255, 255, 255, 0.3);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);

			li a {
				color: $secondary-color;
			}
		}
	}

	.progress-wrapper {
		position: relative;
		progress {
			appearance: none;
			position: absolute;
			width: 100%;
			height: 1px;
			top: 0;
			background-color: rgba(255,255,255,.1);
			border: none;
		}
		progress::-moz-progress-bar { background-color: $primary-color; height: 3px; }
		progress::-webkit-progress-value { background-color: $primary-color; height: 3px; margin-top: -1px; }
		progress::-ms-fill { background-color: $primary-color; height: 3px; margin-top: -1px; }
		progress::-webkit-progress-bar { background-color: rgba(255,255,255,.1); }
	}
}

#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation {
	> li.mega-menu-item > a.mega-menu-link {
		letter-spacing: 2px;
	}

	> li.mega-menu-item:last-child {
		margin-right: 0;
	}

	li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator:after {
		color: $primary-color;
	}

	> li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column ul.mega-sub-menu li.mega-menu-item {
		border-left: 1px solid rgba(255,255,255,.2);
	}

	li.mega-menu-megamenu ul.mega-sub-menu li.mega-menu-row {
		@include breakpoint(medium) { padding: 0 15px; }
	}

	> li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column ul.mega-sub-menu li.title {
		border-left: 0 !important;
		padding-left: 0 !important;
		> a.mega-menu-link {
			color: $primary-color;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 700;
			margin-bottom: 10px;
			line-height: 1;
			&:hover, &:focus {
				color: $primary-color;
				font-weight: 700;
			}
		}
	}

	li.mega-menu-grid > ul.mega-sub-menu {
		margin-top: rem-calc(24);
		background: $secondary-color url('../../images/gradients/menu-bg.jpg') no-repeat center center;
		background-size: cover;
	}

	> li.mega-menu-flyout ul.mega-sub-menu {
		right: 0;
	}
}

li.mega-toggle-on > a.mega-menu-link {
	&:before {
		filter: brightness(0) saturate(100%) invert(92%) sepia(47%) saturate(4538%) hue-rotate(292deg) brightness(104%) contrast(100%);
	}
	> span.mega-indicator:after {
		transform: rotate(180deg) !important;
	}
}

.close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 15px;
    cursor: pointer;
    transition: .25s ease-in-out;
    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $secondary-color;
        opacity: 1;
        @include vertical-center;
        transform: rotate(45deg);
        transition: .25s ease-in-out;
    }
    &:after {
        transform: rotate(-45deg);
    }
    &:hover, &:focus {
        transform: scale(1.1);
    }
}

.overlay-menu {
	background: $secondary-color url('../../images/gradients/menu-bg.jpg') no-repeat center center;
	background-size: cover;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
	left: -25%;
	top: 0;
	transition: all 1s cubic-bezier(.19,1,.22,1);
	background-size: cover;
	padding: rem-calc(120 15 0 15);
	&.is-active {
		opacity: 1;
		left: 0;
		visibility: visible;
	}

	hr { border-color: rgba(255,255,255,.2); }

	.menu {
		margin: 0;
		> li {
    		padding: rem-calc(15 0);
			margin-top: rem-calc(5);
    		display: block;
    		border-bottom: 1px solid rgba(255,255,255,.2);
			a {
				color: $white !important;
				outline: 0;
				padding: 0;
				font-size: rem-calc(28);
				font-weight: 700;
				position: relative;
    			display: block;
			}
			&.current_page_item a {
				color: $black;
			}
		}
		.menu-item-has-children {
			position: relative;
			> a {
				padding-right: 40px;
				&:before {
					content: '';
					width: 22px;
					height: 22px;
					background: url("data:image/svg+xml,%0A%3Csvg width='16px' height='10px' viewBox='0 0 16 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Mobile' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Mobile-&gt;-Homepage@2x' transform='translate(-340.000000, -10043.000000)' stroke='%232290DF' stroke-width='2'%3E%3Cg id='FOOTER' transform='translate(0.000000, 9992.000000)'%3E%3Cg id='1' transform='translate(20.000000, 50.000000)'%3E%3Cpolyline id='chevron' points='335 2 328.000256 8.99974437 321 2'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
					background-size: contain;
					position: absolute;
					right: 0;
					top: 50%;
					transition: .25s all ease-in-out;
					transform: translateY(-50%) rotate(0);
				}
			}
			&.active > a {
				background: transparent !important;
				&:before {
					transform: translateY(-50%) rotate(180deg);
				}
			}
			.nested {
				position: relative !important;
				list-style: none;
				padding: 0;
				margin: 0;
				overflow: hidden;
				display: block;
				height: 0;
				margin: 0;
				> li a {
					text-transform: none;
					font-weight: 500;
					font-family: $body-font-family;
					letter-spacing: -.5px;
					font-size: rem-calc(19);
					margin: rem-calc(7 0);
				}
				&.active {
					height: auto !important;
					margin-top: 15px;
				}

				.nested {
					margin-left: 15px;
				}
			}
		}
	}

	.actions {
		list-style: none;
		margin: 0;

		li {
			padding: rem-calc(15 0);
			margin-top: rem-calc(5);
			border-bottom: 1px solid rgba(255,255,255,.2);
			a {
				color: #fff;
			}
		}
	}

	.search-form {
		width: 100%;
		margin-top: rem-calc(20);
		input[type=search] { width: 100%; }
	}
}

.is-active {
	header {
		position: fixed;
		width: 100%;
		top: 0;
	}
}

.dot-toggle {
	display: block;
	width: 34px;
	height: 34px;
	position: relative;
	float: right;
	margin-top: 6px;
	z-index: 99999;
	transform: rotate(0deg);
	transition: .4s ease-in-out;
	cursor: pointer;
	@include breakpoint(small down) {
		margin-top: 2px;
		opacity: 1 !important;
	}
	span {
		display: block;
		position: absolute;
		height: 5px;
		width: 5px;
		border-radius: 50%;
		background: $primary-color;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: all .3s ease-in-out;
	}

	span:nth-child(1) { top: 0px; left: 0px;  }
	span:nth-child(2) { top: 0px; left: 14px; }
	span:nth-child(3) { top: 0px; left: 28px; }

	span:nth-child(4) { top: 14px; left: 0px;  }
	span:nth-child(5) { top: 14px; left: 14px; }
	span:nth-child(6) { top: 14px; left: 28px; }

	span:nth-child(7) { top: 28px; left: 0px;  }
	span:nth-child(8) { top: 28px; left: 14px; }
	span:nth-child(9) { top: 28px; left: 28px; }

	&.is-active {
		span:nth-child(2) { top: 7px;  left: 21px; }
		span:nth-child(6) { top: 21px; left: 21px; }
		span:nth-child(8) { top: 21px; left: 7px;  }
		span:nth-child(4) { top: 7px;  left: 7px;  }
	}
}

.admin-bar header {
	top: 32px !important;
}

.no-js [data-responsive-toggle] {
	display: none;
}