section {
	position: relative;
	margin: rem-calc(50 0);
	@include breakpoint(medium) { margin: rem-calc(80 0); }
	@include breakpoint(large)  { margin: rem-calc(120 0); }

	&.panel {
		margin: 0;
		padding: rem-calc(50 0);
		@include breakpoint(medium) { padding: rem-calc(80 0); }
		@include breakpoint(large)  { padding: rem-calc(120 0); }
	}

	&.sm {
		margin: rem-calc(30 0);
		@include breakpoint(medium) { margin: rem-calc(40 0); }
		@include breakpoint(large)  { margin: rem-calc(60 0); }
	}
}

.home-hero {
	position: relative;
	z-index: 1;
	background-color: $secondary-color;
	.video-wrap {
		text-align: center;
		height: 90vh;
		@include breakpoint(medium) { height: 400px; }
		@include breakpoint(large) { height: 100vh; max-height: 800px; }
		.home-swiper {
			@include absolute-center;
			width: 100%;
			z-index: 5;
			.swiper-slide {
				height: auto;
				display: flex;
			    justify-content: center;
			    align-items: center;
				.caption {
					width: 100%;
					@include breakpoint(medium) { width: 75%; margin: 0 auto; }
					h1, h2, h3, h4, p {
						color: #fff;
						text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
					}

					h1 {
						@include breakpoint(large) { font-size: rem-calc(80); }
					}
				}
			}
		}

		.video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index: 1;
			iframe {
				box-sizing: border-box;
				height: 56.25vw;
				left: 50%;
				min-height: 100%;
				min-width: 100%;
				transform: translate(-50%, -50%);
				position: absolute;
				top: 50%;
				width: 177.77777778vh;
			}
		}
	}

	.logo-grid {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		border-top: 1px solid rgba(255,255,255,.1);
		padding: rem-calc(15 0);
		@include breakpoint(medium) { padding: rem-calc(30 0); }
		@include breakpoint(large)  { padding: rem-calc(40 0); }
		h5 { color: #fff; }
	}
}

.logo-grid {
	border-top: 1px solid #ddd;
	z-index: 10;
	padding: rem-calc(15 0);
	@include breakpoint(medium) { padding: rem-calc(30 0); }
	@include breakpoint(large)  { padding: rem-calc(40 0); }
	.cell {
		display: flex;
		align-items: center;
		justify-content: center;
		height: auto;
		border-right: 1px solid #ddd;
		img {
			margin: 0;
			max-height: 30px;
			@include breakpoint(medium) {
				max-height: 70px;
			}
		}
	}
	h5 { &:before { display: none; } }

	.cell:last-child { border-right: 0 !important; }

	@include breakpoint(small only) {
		.grid-x {
			overflow-x: scroll;
			flex-flow: unset;
			.cell {
				width: auto;
				padding: rem-calc(0 20);
			}
		}
	}
}

.logo-swiper-grid {
	z-index: 10;
	padding: rem-calc(20 0);
	@include breakpoint(medium) { padding: rem-calc(30 0); }
	@include breakpoint(large)  { padding: rem-calc(40 0); }
	.cell {
		display: flex;
		align-items: center;
		justify-content: center;
		height: auto;
	}

	.logo-swiper {
		border-left: 1px solid #ddd;
		@include breakpoint(medium down) { margin-top: rem-calc(30); }
		.swiper-slide {
			display: flex;
			align-items: center;
			justify-content: center;
			height: auto;
			box-sizing: border-box;
			border-right: 1px solid #ddd;
			img {
				margin: 0;
				max-height: 55px;
				@include breakpoint(medium) {
					max-height: 70px;
				}
			}
		}
	}
}

.hero + .logo-grid { border-bottom: 1px solid #ddd; }

.nav {
	display: inline-block;
	margin-top: rem-calc(20);
	position: relative;
	width: 100%;

	.prev, .next {
		display: inline-block;
		vertical-align: middle;
		height: 23px;
	}
	.prev {
		float: left;
		margin-right: rem-calc(15);
		img, svg { transform: rotate(180deg); }
	}
	.next {
		margin-left: rem-calc(15);
		float: right;
	}

	.swiper-pagination {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		bottom: inherit !important;
		z-index: 11;
		.swiper-pagination-bullet {
			border: 2px solid $primary-color;
			opacity: 1;
			background-color: transparent;
			width: 12px;
			height: 12px;
			margin: rem-calc(0 3);
			box-sizing: border-box;
		}
		.swiper-pagination-bullet-active {
			background-color: $primary-color;
		}
	}
}

.hero {
	position: relative;
	z-index: 1;
	background: $secondary-color url('../../images/gradients/hero-bg.jpg') no-repeat center bottom;
	background-size: cover;
	padding-top: rem-calc(120);
	@include breakpoint(medium) { padding-top: rem-calc(160); }
	@include breakpoint(small only) {
		text-align: center;
	}

	.grid-x {
		min-height: 200px;
		@include breakpoint(medium) { min-height: 300px; }
		h1 { color: #fff; }
	}

	.video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: -1;
		video {
			box-sizing: border-box;
			height: 56.25vw;
			left: 50%;
			min-height: 100%;
			min-width: 100%;
			transform: translate(-50%, -50%);
			position: absolute;
			top: 50%;
			width: 200vh;
		}
	}
}

.card-swiper {
	overflow: visible;
}

.card {
	background-color: #fff;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.12);
	border-left: 4px solid $primary-color;
	padding: rem-calc(25 15);
	@include breakpoint(medium) { padding: rem-calc(25 20); }
	@include breakpoint(large)  { padding: rem-calc(30 25); }

	&.post {
		display: block;
		padding: 0;
		border-left: 0;
		.content {
			padding: rem-calc(25 15);
			@include breakpoint(medium) { padding: rem-calc(25 20); }
			@include breakpoint(large)  { padding: rem-calc(30 25); }

			p { color: #909090; }
		}
	}
}

.insights {
	.swiper-slide {
		h3 {

			@include breakpoint(medium) { min-height: 63px; }
			@include breakpoint(large)  { min-height: 72px; }
		}
	}
}

.icons {
	h5:before { display: none; }
}

.testimonials-swiper {
	.swiper-slide {
		@include breakpoint(medium) { width: 450px; }
		.testimonial {
			border: 1px solid #DDDDDD;
			padding: rem-calc(30);
			background-color: #fff;

			.name {
				display: flex;
				align-items: center;
				white-space: nowrap;
				margin-top: rem-calc(30);
				&:before {
					width: 100%;
					background: #ddd;
					height: 1px;
					margin-top: rem-calc(6);
					margin-right: rem-calc(20);
				}
			}
		}
	}
}

.challenges-swiper {
	.swiper-slide {
		height: auto;
		.card { height: 100%; }
	}
}

.statistics {
	.standard-swiper {
		position: relative;
		.nav {
			@include breakpoint(medium) {
				@include vertical-center;
				left: 0;
				margin: 0;
			}
		}
	}
}

.challenge-title {
	font-weight: 700;
	letter-spacing: -1.5px;
	font-size: rem-calc(40);
	@include breakpoint(medium) { font-size: rem-calc(80); line-height: 1; }
	@include breakpoint(large)  { font-size: rem-calc(120); }
}

.history-swiper {
	.swiper-slide {
		.nav {
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			padding: rem-calc(15 0);
			margin-top: rem-calc(60);
			.next, .prev { height: auto; }
		}
	}
}

.years-pagination {
	overflow-x: auto;
    display: flex;
	padding-bottom: rem-calc(15);
	margin-bottom: rem-calc(30);
	@include breakpoint(medium) {
		margin-bottom: rem-calc(60);
	}
	.year-bullet {
		background-color: $light-gray;
		text-transform: uppercase;
		color: $secondary-color;
		font-weight: 700;
		position: relative;
		cursor: pointer;
		display: inline-block;
		padding: rem-calc(6 10 6 40);
		font-size: rem-calc(20);
		@include breakpoint(medium) {
			padding: rem-calc(6 15 6 50);
			font-size: rem-calc(28);
		}
		&:before {
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			left: -1px;
			top: 50%;
			transform: translateY(-50%);
			border-top: 21px solid transparent;
			border-bottom: 21px solid transparent;
			border-left: 21px solid #ddd;
			@include breakpoint(medium) {
				border-top: 27px solid transparent;
				border-bottom: 27px solid transparent;
				border-left: 27px solid #ddd;
			}
		}

		&.active {
			background-color: $primary-color !important;
			color: #fff;
			&:after {
				content: '';
				width: 0;
				height: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 5;
				border-top: 21px solid transparent;
				border-bottom: 21px solid transparent;
				border-left: 21px solid $primary-color !important;
				right: -20px;
				@include breakpoint(medium) {
					border-top: 27px solid transparent;
					border-bottom: 27px solid transparent;
					border-left: 27px solid $primary-color !important;
					right: -26px;
				}
			}
		}
	}

	.year-bullet:nth-child(odd) {
		background-color: #ddd;
		&:before {
			border-left-color: $light-gray;
		}
	}

	.year-bullet:first-child:before { border-left-color: #fff; }

	.year-bullet:last-child:after {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		border-top: 21px solid transparent;
		border-bottom: 21px solid transparent;
		border-left: 21px solid #ddd !important;
		right: -20px;
		@include breakpoint(medium) {
			border-top: 27px solid transparent;
			border-bottom: 27px solid transparent;
			border-left: 27px solid #ddd !important;
			right: -26px;
		}
	}

	.year-bullet:last-child:not(:nth-child(odd)):after { border-left-color: $light-gray; }
}

.whitepaper {
	background-color: #fff;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.12);
	@include breakpoint(medium) {
		display: flex;
	}
	.image {
		background: url('../../images/gradients/whitepaper-bg.jpg') no-repeat center center;
		background-size: cover;
		position: relative;
		@include breakpoint(medium) {
			height: auto;
			width: 25%;
		}
		.whitepaper-mockup {
			width: 90%;
			margin: 0 auto;
			padding: rem-calc(30 0);
			@include breakpoint(medium) {
				padding: 0;
				position: absolute;
				bottom: 50px;
				width: 110%;
			}
		}
		.icon {
			position: absolute;
			bottom: -25px;
			right: 50%;
			transform: translateX(50%);
			@include breakpoint(medium) {
				bottom: inherit;
				top: 50px;
				right: -30px;
				transform: translateX(0);
			}
		}
	}
	.content {
		padding: rem-calc(30 25 30 25);
		@include breakpoint(medium) {
			padding: rem-calc(40 60 40 100);
			width: 75%;
		}
	}
}

.whitepaper-link {
	background: #FFFFFF;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.12);
    position: relative;
    top: -40px;
    border: 0;
	float: right;
    width: 100%;
   	padding: rem-calc(12 25 17 25);
	@include breakpoint(medium) {
		width: auto;
    	top: -27px;
		padding: rem-calc(12 15 17 15);
	}
}

.brands {
	.cell {
		height: auto;
		.brand-box {
			border: 1px solid #ddd;
		    height: 100%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
			padding: rem-calc(15 15);
			@include breakpoint(medium) {
				padding: rem-calc(25 15);
			}
		}
	}
}

.terms {
	padding: rem-calc(15 0);
	@include breakpoint(medium) {
		padding: rem-calc(30 0);
	}

	h5 {
		display: inline-block;
		&:before { display: none; }
	}
}

.category-list {
	list-style: none;
	padding: 0;
	margin-left: 0;
	li {
		padding: rem-calc(10 0);
		border-bottom: 1px solid #ddd;
		&:before { display: none; }
	}
}

.discovery-swiper {
	.nav .prev, .nav .next {
		height: 23px;
	}

	.swiper-pagination {
		top: 50%;
		bottom: inherit;
		width: auto;
		transform: translate(-50%, -50%);
		.swiper-pagination-bullet { border-color: #fff; }
		.swiper-pagination-bullet-active { background-color: #fff; }
	}
}

.discovery-box {
	background: #FFFFFF;
	box-shadow: 0 10px 30px 0 rgba(0,0,0,0.10);
	border-left: 5px solid $primary-color;
	padding: rem-calc(15 15);
	@include breakpoint(medium) {
		padding: rem-calc(40 35);
	}

	h1, h2, p, { color: $secondary-color; }
	h3, h4, h5 { color: $primary-color }

	p {
		font-size: rem-calc(16);
	    @include breakpoint(medium) {
	        font-size: rem-calc(18);
	    }
	}
}

.phone {
	position: relative;
	padding-left: rem-calc(35) !important;
	&:before {
		content: '';
		width: 22px;
		height: 23px;
		background: url('../../images/phone.svg') no-repeat center center;
		background-size: contain;
		position: absolute;
		left: 0;
		top: 55%;
		transform: translateY(-55%);
	}
	a { color: $secondary-color; }
}


.email {
	position: relative;
	padding-left: rem-calc(35) !important;
	&:before {
		content: '';
		width: 23px;
		height: 20px;
		background: url('../../images/email.svg') no-repeat center center;
		background-size: contain;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	a { color: $secondary-color; }
}

.name {
	position: relative;
	padding-left: rem-calc(35) !important;
	&:before {
		content: '';
		width: 23px;
		height: 24px;
		background: url('../../images/name.svg') no-repeat center center;
		background-size: contain;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.hours {
	position: relative;
	padding-left: rem-calc(35) !important;
	&:before {
		content: '';
		width: 23px;
		height: 23px;
		background: url('../../images/time.svg') no-repeat center center;
		background-size: contain;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.address {
	position: relative;
	padding-left: rem-calc(35) !important;
	&:before {
		content: '';
		width: 22px;
		height: 28px;
		background: url('../../images/address.svg') no-repeat center center;
		background-size: contain;
		position: absolute;
		left: 0;
		top: 5px;
	}
}
