.sidebar {
	background-color: #fff;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.1);
	@include breakpoint(small only) {
		height: 56px;
		overflow: hidden;
		position: absolute;
		transition: all .35s cubic-bezier(.19,1,.22,1);
	    width: 100%;
	    top: -79px;
	    &:after {
	    	content: '';
	    	width: 30px;
	    	height: 16px;
	    	background: url("data:image/svg+xml,%3Csvg width='22' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 1 10.999 13 1 1' stroke='%232290DF' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat center center;
	    	background-size: contain;
	    	position: absolute;
	    	right: 15px;
	    	top: 21px;
	    	transform: rotate(0);
			transition: all .35s cubic-bezier(.19,1,.22,1);
	    }
	    &.open {
	    	height: auto;
	    	&:after { transform: rotate(180deg); }
	    }
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			border-bottom: 1px solid #ddd;
			position: relative;
			padding: rem-calc(16 20 16 60);
			@include breakpoint(medium) {
				padding: rem-calc(13 20 13 60);
			}
			a {
				letter-spacing: 1px;
				text-transform: uppercase;
				font-size: rem-calc(16);
				font-weight: 700;
				color: $secondary-color;
			}

			&:before {
				content: '';
				width: 35px;
				height: 35px;
				position: absolute;
				left: 15px;
				top: 50%;
				transform: translateY(-50%);
			}

			&.home:before {
				background: url('../../images/portal/portal-home.svg') no-repeat center center;
				background-size: contain;
			}
			&.tickets:before {
				background: url('../../images/portal/tickets.svg') no-repeat center center;
				background-size: contain;
			}
			&.log-ticket:before {
				background: url('../../images/portal/log-ticket.svg') no-repeat center center;
				background-size: contain;
			}
			&.payments:before {
				background: url('../../images/portal/payments.svg') no-repeat center center;
				background-size: contain;
			}
			&.services:before {
				background: url('../../images/portal/services.svg') no-repeat center center;
				background-size: contain;
			}
			&.documents:before {
				background: url('../../images/portal/documents.svg') no-repeat center center;
				background-size: contain;
			}
			&.contact:before {
				background: url('../../images/portal/contact.svg') no-repeat center center;
				background-size: contain;
			}

			&.active {
				&:before {
					//blue icon
					filter: invert(46%) sepia(85%) saturate(488%) hue-rotate(163deg) brightness(91%) contrast(96%);
				}
			}
		}
		li:last-child { border-bottom: 0; }
	}
}

.portal-header {
	.menu {
		display: flex;
		justify-content: flex-end;
		li a {
			font-weight: 700;
			position: relative;
			color: #fff;
			transition: all .35s cubic-bezier(.19,1,.22,1);
			display: inline-block;
			text-transform: uppercase;
			margin: rem-calc(0 10);
			letter-spacing: 2px;
			text-align: left;
			font-size: rem-calc(16);
			@include breakpoint(medium) {
				font-size: rem-calc(16);
			}
		}

		.log-ticket {
			background: transparent;
			text-transform: uppercase;
			border: 2px solid $primary-color;
			color: #fff;
			letter-spacing: 1.5px;
			font-size: rem-calc(14);
			font-weight: 700;
			margin: rem-calc(0 10);
			padding: rem-calc(13 25 13 47);
			width: auto;
			@include breakpoint(medium) {
				padding: rem-calc(12 15 12 47);
			}

			&:before {
				content: '';
				background: url("../../images/portal/log-ticket-blue.svg") no-repeat center center;
				background-size: contain;
				width: 20px;
				height: 25px;
				display: inline-block;
				position: absolute;
				left: 15px;
				top: 50%;
				transform: translateY(-50%);
				transition: all .5s cubic-bezier(.19,1,.22,1);
			}
		}

		.contact {
			padding-left: rem-calc(43);
			&:before {
				content: '';
				background: url("../../images/portal/contact-blue.svg") no-repeat center center;
				background-size: contain;
				width: 20px;
				height: 25px;
				display: inline-block;
				position: absolute;
				left: 15px;
				top: 50%;
				transform: translateY(-50%);
				transition: all .5s cubic-bezier(.19,1,.22,1);
			}
		}

		.log-out {
			padding-left: rem-calc(43);
			&:before {
				content: '';
				background: url("../../images/portal/logout.svg") no-repeat center center;
				background-size: contain;
				width: 20px;
				height: 25px;
				display: inline-block;
				position: absolute;
				left: 15px;
				top: 50%;
				transform: translateY(-50%);
				transition: all .5s cubic-bezier(.19,1,.22,1);
			}
		}
	}

}

.portal .hero {
	.grid-x {
		min-height: 150px;
		@include breakpoint(medium) { min-height: 185px; }
		@include breakpoint(large)  { min-height: 225px; }
	}

	.advert { box-shadow: 0 5px 30px 0 rgba(0,0,0,0.12); }
}

.portal section { z-index: 1; }

.portal table {
	margin: 0;
	thead, tbody, tfoot { border: 0; }

	thead td {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: rem-calc(14);
	}

	tbody td {
		a {
			color: $secondary-color;
			border-bottom: 1px solid $primary-color;
		}

		&.in-progress { color: #3E9851; }
		&.reopened { color: #EC8D13; }
		&.not-started { color: #EC8D13; }
		&.closed   { color: #EA3725; }
	}

	.month-total {
		background-color: #DDDDDD;
		h4 {
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: rem-calc(20);
		}
	}
}

.portal .table-scroll {
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.12);
}

.portal .payments {
	td {
		font-size: rem-calc(14);
		padding: rem-calc(12 15 14);
	}
}

.card.service, .card.download {
	text-align: center;
	display: block;
	@include breakpoint(medium) {
		height: 100%;
	}

	h5:before { display: none; }
	img {
		margin-bottom: rem-calc(15);
		@include breakpoint(medium) { margin-bottom: rem-calc(25); }
	}
}

.download {
	display: block;
	.link {
		color: $secondary-color;
		border-bottom: 1px solid $primary-color;
		display: inline-block;
		margin-right: auto;
		margin-left:  auto;
	}
}

.swpm-login-widget-form, .swpm-pw-reset-widget-form {
	.swpm-login-form-submit, .swpm-pw-reset-submit {
		@extend .button;
		background-color: $primary-color;
		color: #fff;
		min-width: 150px;
		padding: rem-calc(13 25 14 25);
		@include breakpoint(medium) {
			padding: rem-calc(12 15 13 15);
		}
	}

	.swpm-text-field {
		width: 100%;
	}
}

.swpm-login-form-register-link { display: none; }

.form-message {
	p {
		color: red;
		margin: 0;
	}
}

.ticket-overview {
	background: #FFFFFF;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.12);
	border-left: 5px solid $primary-color;
	font-size: rem-calc(16);
	margin-top: rem-calc(20);
	margin-bottom: rem-calc(40);
	padding: rem-calc(15 15);
	@include breakpoint(medium) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rem-calc(20 25);
	}
	@include breakpoint(large)  { padding: rem-calc(25 35); }

	h3 {
		color: $primary-color;
	}

	div {
		margin: rem-calc(5 0);
		@include breakpoint(medium) { margin: 0; }
		span {
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $primary-color;
			font-weight: 700;
			display: block;
		}
	}
}

.message {
	margin-bottom: rem-calc(30);
	.message-title {
		margin-bottom: rem-calc(20);
		@include breakpoint(medium) { display: flex; }
		p {
			@include breakpoint(medium) {
				margin-top: 0;
				margin-left: rem-calc(15);
			}
		}
	}
	.message-box {
		background: #FFFFFF;
		box-shadow: 0 5px 30px 0 rgba(0,0,0,0.12);
		border-left: 5px solid $primary-color;
		padding: rem-calc(15 15);
		font-size: rem-calc(16);
		@include breakpoint(medium) { padding: rem-calc(20 25); font-size: rem-calc(18); }
		@include breakpoint(large)  { padding: rem-calc(30 35); }

		blockquote {
			margin-top: rem-calc(20);
			border: 0;
			font-style: italic;
			font-size: rem-calc(16);
			color: #444;
			p { color: #444; }
		}

		table, td, blockquote p {
			font-size: rem-calc(16);
		}
	}
}

.form-message {
	.success { color: green; }
	.error   { color: red; }
}

.talk-to-us {
	position: relative;
	padding-left: rem-calc(75) !important;
	@include breakpoint(medium) {
		padding-left: rem-calc(100) !important;
	}
	&:before {
		content: '';
		background: url("data:image/svg+xml,%3Csvg width='42' height='52' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12.663 17.503 4.557-3.028c.826-.52 1.486-1.937.683-3.139L12.48 2.103S11.033.6 9.33 1.103c-1.535.55-7.865 3.555-8.318 12.954C.51 24.483 14.755 46.073 24.775 49.7c8.995 3.415 14.355-.83 15.523-2.138 1.177-1.31.517-3.169.517-3.169L34.19 35.77c-1.066-1.603-2.401-1.185-3.221-.665l-4.525 2.858c-3.309 1.387-16.39-18.236-13.782-20.46Z' stroke='%23000' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat center center;
		background-size: contain;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 20px;
		width: 44px;
		height: 58px;
		@include breakpoint(medium) {
			left: 30px;
			width: 52px;
			height: 62px;
		}
	}
}

.services.swiper {
	width: 85%;
	overflow: visible;
	margin-left: 0;
	margin-right: 0;
	.swiper-slide {
		height: auto;
		.card {
			height: 100%;
		}
	}
}