.insights {
	.swiper-slide {
		height: auto;
		.card {
			height: 100%;
		}
	}
}

.post {

	p {
		font-size: rem-calc(16);
	    @include breakpoint(medium) {
	        font-size: rem-calc(16);
    	}
	}
	&.btn-align {
    display: flex;
        flex: 1;
    flex-direction: column;
    h3 {
    	height: 80px;
    	min-height: 80px;
    }
    }

	.image {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        transition: .25s all ease-in-out;
		&:after {
			content: '';
			padding-top: 66.6666%;
			display: block;
		}

		&.long:after {
			padding-top: 125%;
		}

		&.placeholder {
			background: #f5f5f5;
			background-image: url('../../images/logo.svg');
			background-size: 200px;
			background-position: center;
			background-repeat: no-repeat;
		}

		.icon {
			width: 80px;
			height: 80px;
			position: absolute;
			left: 0;
			top: 0;
			background-color: $primary-color;
			img {
				@include absolute-center;
				width: 50px;
			}
		}
	}
}

.article {
	display: block;
	img {
		width: 350px;
	    height: 350px;
	    object-fit: contain;
	    border: 1px solid #ddd;
	    padding: rem-calc(20);
	    margin-bottom: rem-calc(20);
	}

	.title {
		color: $secondary-color;
		font-weight: 500;
	}

	.desc {
		width: 100%;
		font-weight: 400;
		font-size: rem-calc(16);
	}

	.text-link {
		width: auto;
	}
}

.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
	a { margin: rem-calc(0 10); }
}

#ip-cctv-and-security, #support-contract, #security-services {
	h3 { max-width: 265px; }
}