aside {
	background-color: $light-gray;
	padding: rem-calc(20 15);
	@include breakpoint(medium) {
		padding: rem-calc(25 20);
	}

	input[type='text'], input[type='email'], input[type='tel'], textarea {
		background-color: #fff;
		border-color: #fff;
		padding: rem-calc(6 8);
		height: auto;
		font-size: rem-calc(14);
	}
	select { height: 35px; border-color: #fff; }


	.input-group .input-group-label {
		font-size: rem-calc(18);
	}

	@include breakpoint(large) { .button { width: 75%; } }

	.wpcf7-response-output {
		margin: rem-calc(10 0 0 0);
		font-size: rem-calc(12);
	}
}