$ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
$ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
$ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
$ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);

[data-animate='fade'] {
	.cell {
		opacity: 0;
		transform: translateY(10px) scale(0.95);
		transition: all 0.6s $ease-in-out-circ;
		transition-delay: .1s;
	}

	&.visible .cell {
		opacity: 1;
		transform: translateY(0) scale(1.0);
	}

	@for $i from 1 to 20 {
		.cell:nth-child(#{$i}) { transition-delay: $i * 0.3s; }
	}

	&.x1 .cell { transition-delay: .2s; }
	&.x2 .cell { transition-delay: .4s; }
	&.x3 .cell { transition-delay: .6s; }
	&.x4 .cell { transition-delay: .8s; }
	&.x5 .cell { transition-delay: 1s; }
}