.button, .btn, .nav-previous a, .nav-next a, .load-more a {
	background: transparent;
	text-transform: uppercase;
	border: 2px solid $primary-color;
	color: $secondary-color;
	letter-spacing: 1.5px;
	font-size: rem-calc(14);
	font-weight: 700;
	padding: rem-calc(9 25 14 25);
	width: auto;
	@include breakpoint(medium) {
		padding: rem-calc(8 15 13 15);
	}

	&:before {
		content: '';
		background: url("data:image/svg+xml,%3Csvg width='36' height='18' viewBox='0 0 36 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%232290DF' stroke-width='2' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 9h21.843M18.759 1 33 9.001 18.759 17'/%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
		background-size: contain;
		width: 32px;
		height: 18px;
		display: inline-block;
		position: relative;
		right: 0;
		top: 3px;
		margin-right: rem-calc(10);
		transition: all .5s cubic-bezier(.19,1,.22,1);
	}

	&:hover, &:focus {
		background-color: $primary-color;
		&:before {
			right: -3px;
			background: url("data:image/svg+xml,%3Csvg width='36' height='18' viewBox='0 0 36 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23ffffff' stroke-width='2' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 9h21.843M18.759 1 33 9.001 18.759 17'/%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
			background-size: contain;
		}
	}

	&.primary {
		background-color: $primary-color;
		color: #fff;
		min-width: 150px;
	}

	&.secondary {
		background-color: $secondary-color;
		color: #fff;
		min-width: 150px;
	}

	&.post-btn {
		margin-top: auto;
	}

	&.white {
		border-color: $secondary-color;
		color: #fff;
		min-width: 150px;
		&:before {
			content: '';
			background: url("data:image/svg+xml,%3Csvg width='36' height='18' viewBox='0 0 36 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23ffffff' stroke-width='2' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 9h21.843M18.759 1 33 9.001 18.759 17'/%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
		}
		&:hover {
			background-color: #fff;
			border-color: #fff;
			color: $primary-color;
			&:before {
				content: '';
				background: url("data:image/svg+xml,%3Csvg width='36' height='18' viewBox='0 0 36 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%232290DF' stroke-width='2' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 9h21.843M18.759 1 33 9.001 18.759 17'/%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
			}
		}
	}
}

.text-link {
	color: $primary-color;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: 1px;
	border-bottom: 2px solid $secondary-color;
	font-size: rem-calc(14);
    @include breakpoint(medium) {
        font-size: rem-calc(14);
    }

	&:hover, &:focus {
		color: $primary-color;
		&:after { right: -3px; }
	}

	&.white {
		color: #fff;
		border-color: #fff;
	}
}

.follow-link {
	font-weight: 700;
	color: $secondary-color;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: 1px;
	font-size: rem-calc(14);
    @include breakpoint(medium) {
        font-size: rem-calc(14);
    }

    &:before {
		content: '';
		background: url("../../images/follow.svg") no-repeat center center;
		background-size: contain;
		width: 44px;
    	height: 30px;
		display: inline-block;
		position: relative;
		right: 0;
		top: -2px;
		margin-right: rem-calc(7);
		transition: all .5s cubic-bezier(.19,1,.22,1);
		vertical-align: middle;
	}

	&:hover, &:focus {
		color: $primary-color;
		&:after { right: -3px; }
	}
}

.gform_button {
	background-color: transparent;
	border: 2px solid $primary-color;
	color: $secondary-color;
	letter-spacing: 1.5px;
	font-size: rem-calc(14);
	font-weight: 700;
	padding: rem-calc(9 25 14 25);
	width: auto;
	@include breakpoint(medium) {
		padding: rem-calc(8 15 13 15);
	}

	&:hover {
		background-color: $primary-color;
		color: #fff;
	}
}
