
.wpcf7 form .wpcf7-response-output { margin-right: 0; margin-left: 0; }

input[type='text'], input[type='tel'], input[type='email'], input[type='number'], input[type='file'], input[type='password'], textarea {
	border: 1px solid #ddd;
	background-color: #fff;
	color: $secondary-color;
	font-size: rem-calc(16);
	height: 40px;
	@include breakpoint(medium) { height: 45px; }
	&.wpcf7-not-valid { border-color: #dc3232; }
	&::placeholder {
		color: #ddd;
		font-size: rem-calc(16);
	}
}

select {
	padding: 0.5625rem 1.5rem 0.5rem 8px !important;
	font-size: rem-calc(16) !important;
	color: $secondary-color;
	height: 45px;
	&:focus, &:active {
		border-color: #DDDDDD;
	}
}


.gfield_captcha_input_container {margin-top: 1rem;}

.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow {
	margin: rem-calc(5 0 0 0);
	border-width: 1px;
	border-radius: 0;
	border-color: #DDDDDD;
	font-size: rem-calc(16);
	height: 40px;
	@include breakpoint(medium) { height: 45px; }
	.select2-selection__rendered {
		font-size: rem-calc(16);
		line-height: 40px;
		@include breakpoint(medium) { line-height: 45px; }
	}
}

.select2-results__option {
	font-size: rem-calc(16);
}

label, .gform_wrapper.gravity-theme .gfield_label, legend {
	font-weight: 400 !important;
	letter-spacing: -0.5px;
	color: $secondary-color;
	font-size: rem-calc(16);
    @include breakpoint(medium) {
        font-size: rem-calc(16);
    }
    @include breakpoint(large) {
        font-size: rem-calc(18);
    }
}

.wpcf7-not-valid-tip {
	margin-top: rem-calc(-14);
}

@include breakpoint(small only) {
	.gform_wrapper.gravity-theme .gform_fields {
	    grid-column-gap: 2%;
	}
	.gform_wrapper.gravity-theme .gfield.gfield--width-half {
	    -ms-grid-column-span: 6;
	    grid-column: span 6;
	}
}

.gform_wrapper .gfield_required {
	color: $primary-color !important;
}

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 0 !important;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: url('../../images/tick-green.svg') no-repeat center center;
    background-size: 19px;
    border-color: #BEDA79;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

.gfield_checkbox {
	.ginput_container {
		position: relative;
		padding-left: 40px;
		label {
			line-height: 1.4;
			&:after {
				content: "";
				background: #fff;
    			border: 1px solid #ddd;
				width: 27px;
				height: 27px;
				display: block;
				position: absolute;
				left: 0;
				top: 5px;
				z-index: 0;
			}
			&:before {
				content: "";
				display: block;
			    position: absolute;
			    width: 27px;
				height: 27px;
			    background: url('../../images/tick-green.svg') no-repeat center center;
			    background-size: 19px;
		    	left: 0;
				top: 5px;
				opacity: 0;
				z-index: 1;
				transition: all 100ms;
			}
		}
	}

	input[type="checkbox"] {
		opacity: 0;
		outline: none;
		z-index: 100;
		width: 27px;
		height: 27px;
		top: 0;
		left: 0;
		position: absolute;
		appearance: none;
		cursor: pointer;
	    + label {
	    	cursor: pointer;
	    }
		&:checked + label {
			border-color: #BEDA79;
			&:before {
				opacity: 1;
			}
		}
	}
}

.ginput_container_radio .gfield-choice-input {
	margin-bottom: 0 !important;
}

#gform_fields_login #field_0_3 {
	display: none;
}