.modal {
	position: fixed;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	opacity: 0;
    border: 0;
	visibility: hidden;
	z-index: 99999999;
	transition: all 0.35s $ease-in-out-circ;
	padding: rem-calc(25);
	max-height: 95%;
	width: 90%;
	@include breakpoint(medium) {
		padding: rem-calc(40);
		width: 75%;
	}
	@include breakpoint(large) {
		width: 50%;
	}

	&.active {
		opacity: 1;
		visibility: visible;
		z-index: 99999999;
		top: 50%;
	}

	&.sm {
		box-shadow: 0 15px 30px 0 rgba(0,0,0,0.1);
		padding: rem-calc(25);
		width: 90%;
		@include breakpoint(medium) {
			padding: rem-calc(40);
			width: 75%;
		}
		@include breakpoint(large) {
			padding: rem-calc(30);
			width: 400px;
		}
	}

	h1, h2, h3, h4, h5 {
		color: $primary-color;
	}

	.text-link { color: #fff; }

	&.scrollable {
		padding: rem-calc(25 0 0 0);
		@include breakpoint(medium) {
			padding: rem-calc(40 0 0 0);
		}
		.content {
			overflow-y: scroll;
			max-height: calc(95vh - 1.5625rem);
			padding: rem-calc(0 25 25 25);
			@include breakpoint(medium) {
				max-height: calc(95vh - 2.5rem);
				padding: rem-calc(0 40 40 40);
			}
		}
	}

	.close {
		cursor: pointer;
		position: absolute;
		right: -15px;
		top: -15px;
		background-color: $secondary-color;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		transform: rotate(45deg);
        z-index: 999;
		&:before {
			content: '';
			height: 25px;
			width: 2px;
			@include absolute-center;
			background-color: #fff;
		}
		&:after {
			content: '';
			width: 25px;
			height: 2px;
			@include absolute-center;
			background-color: #fff;
		}
		&:hover, &:focus {
	        transform: scale(1.1) rotate(45deg);
	    }
	}
}