.primary {
	background: $primary-color;
	h1, h2, h3, h4, h5, p { color: #fff; }
	p a, li, label { color: #fff; }
	hr { border-color: $secondary-color; }
    input[type='text'], input[type='tel'], input[type='email'], input[type='number'], input[type='file'], select, textarea {
    	border: 0;
    }
}

.secondary {
	position: relative;
	background: $secondary-color;
	h1, h2, h3, h4, a, label, .gform_wrapper.gravity-theme .gfield_label, legend, #accordion .accordion p, p, p a, li, .button { color: #fff; }
	hr { border-color: $primary-color; }
	.swiper-pagination .swiper-pagination-bullet { border-color: #fff; }
	.swiper-pagination .swiper-pagination-bullet-active { background-color: #fff; }
	p a { border-bottom-color: $primary-color; }

	ul {
		margin-left: 0;
		list-style: none;
		li:before {
			content: "• ";
  			color: $primary-color;
  			line-height: 1;
  			vertical-align: top;
  			font-size: rem-calc(28);
		}
	}

	&.gradient {
		background: $secondary-color url('../../images/gradients/secondary.jpg') no-repeat center bottom;
		background-size: cover;
	}

	.gform_button {
		border-color: #fff;
		min-width: 150px;
		&:before {
			content: '';
			background: url("data:image/svg+xml,%3Csvg width='36' height='18' viewBox='0 0 36 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23ffffff' stroke-width='2' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 9h21.843M18.759 1 33 9.001 18.759 17'/%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
		}
		&:hover {
			background-color: #fff;
			border-color: #fff;
			color: $primary-color;
			&:before {
				content: '';
				background: url("data:image/svg+xml,%3Csvg width='36' height='18' viewBox='0 0 36 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%232290DF' stroke-width='2' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 9h21.843M18.759 1 33 9.001 18.759 17'/%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
			}
		}
	}
}

.grey {
	background: $light-gray;
	position: relative;
	z-index: 2;

	hr { border-color: #DDDDDD; }
}

.split {
	position: relative;
	z-index: 1;
	padding-top: 0 !important;
	&:after {
		content: '';
		height: 50%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		z-index: -1;
	}
	&.bottom:after {
		bottom: 0;
		top: inherit;
	}
}

.cta {
	background: $secondary-color url('../../images/gradients/cta-bg.jpg') no-repeat center bottom;
	background-size: cover;
}

.why-choose-us {
	background: $secondary-color url('../../images/gradients/why-us-bg.jpg') no-repeat right top;
	background-size: contain;
}

.sectors {
	background: $secondary-color url('../../images/gradients/sectors-bg.jpg') no-repeat center bottom;
	background-size: cover;
}

.all-challenges {
	background: $secondary-color url('../../images/gradients/challenges-bg.jpg') no-repeat center bottom;
	background-size: cover;
	position: relative;
	z-index: 1;
	padding-top: 0 !important;
	&:after {
		content: '';
		height: 200px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		z-index: -1;
	}

	h5 {
		a { color: $primary-color; }
		span:last-of-type { display: none; }
	}
}

.statistics {
	background: $secondary-color url('../../images/gradients/stats-bg.jpg') no-repeat center bottom;
	background-size: cover;
}

.all-categories {
	background: $secondary-color url('../../images/gradients/categories-bg.jpg') no-repeat center top;
	background-size: cover;
}

.contact-us {
	background: $secondary-color url('../../images/gradients/contact-bg.jpg') no-repeat center top;
	background-size: cover;
}