h1, .h1 {
    line-height: 1;
    color: $secondary-color;
    letter-spacing: -1.25px;
}

h2, .h2 {
    color: $secondary-color;
    letter-spacing: -1px;
}

h3, h4, .h3, .h4 {
    color: $secondary-color;
    letter-spacing: -1px;
}

h5 {
    color: $primary-color;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    @include breakpoint(small only) { line-height: 1.2; }
	&:before {
		content: '';
		width: 30px;
		height: 3px;
		background: $primary-color;
		display: inline-block;
		margin-bottom: 4px;
    	margin-right: 10px;
	}
}

.text-center h5:before { display: none; }

h6 {
	color: $primary-color;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

p, li {
    color: $secondary-color;
    margin-bottom: 0;
    letter-spacing: -0.5px;
    font-weight: 400;
    font-size: rem-calc(18);
    @include breakpoint(medium) {
        font-size: rem-calc(20);
    }
}

p a {
    color: $primary-color;
}

.small-p p {
	font-size: rem-calc(16);
    @include breakpoint(medium) {
        font-size: rem-calc(18);
    }
}

.primary-text { color: $primary-color; }
.secondary-text { color: $secondary-color; }
.white-text   { color: #fff !important; }
.dark-grey    { color: #404040 !important; }

h1 + *, h2 + *, h3 + *, p + *, * + .button { margin-top: 1em; }
h4 + *, h5 + *, h6 + * { margin-top: .5em; }
.button + .button, h5 + h1 { margin-top: 0; }
h5 + h1, h5 + .h1 { margin-top: .2em; }


blockquote {
    font-weight: 500;
    color: $secondary-color;
    line-height: 1.4;
    border-color: $primary-color;
    p {
    	color: $secondary-color;
    }
}

@font-face {
    font-family: 'Euclid Circular';
    src: url('../../fonts/EuclidCircularA-Regular.eot');
    src: url('../../fonts/EuclidCircularA-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/EuclidCircularA-Regular.woff2') format('woff2'),
         url('../../fonts/EuclidCircularA-Regular.woff') format('woff'),
         url('../../fonts/EuclidCircularA-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular';
    src: url('../../fonts/EuclidCircularA-Bold.eot');
    src: url('../../fonts/EuclidCircularA-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/EuclidCircularA-Bold.woff2') format('woff2'),
         url('../../fonts/EuclidCircularA-Bold.woff') format('woff'),
         url('../../fonts/EuclidCircularA-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
