//	------------------------------------------------------------------
//	Aye! aye.agency
//
//	Global Styles
// 	------------------------------------------------------------------

html, body {
	margin: 0;
	background: #fff;

	&.modal-open:before {
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		z-index: 9999999;
	}

	&.modal-open { overflow: hidden; }
}

main {
	overflow: hidden;
}

::selection { background: rgba(48, 177, 191, 0.5); }
::-moz-selection { background: rgba(48, 177, 191, 0.5); }

hr {
	border-color: #ddd;
	max-width: 100%;
	border-width: 1px;
	&.small {
		max-width: 80px;
		margin-right: 0;
		margin-left: 0;
		border-width: 4px;
		border-color: $secondary-color;
	}
	&.thick {
		border-color: $primary-color !important;
		border-width: 10px;
	}
	&.medium {
		border-width: 3px;
	}
	&.primary   { border-color: $primary-color !important; }
    &.secondary { border-color: $secondary-color !important; }
}